################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Villein Clock/.vs/**
/Villein Clock/Vilian Clock/bin/**
/Villein Clock/Vilian Clock/obj/**
